body{
    background: linear-gradient(to right, lightblue , lightgreen);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
h1 {
    color: teal;
    size: 500%;
    text-align: center;
}
.navi{
    background-color: #444;
    overflow: hidden;
}
.navi a{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.5s;
}
.navi a:hover{
    background-color: grey;
    color: black;
}
.navi .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .navi a:not(:first-child) {display: none;}
    .navi a.icon {
      float: right;
      display: block;
    }
}
@media screen and (max-width: 600px) {
    .navi.responsive {
        position: relative;
    }
    .navi.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navi.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}